    <aside id="sidebar">
        <div id="avatar">
            {{ with .Site.GetPage "section" "/sidebar/_index.md" }}
            <img class="flower" src="{{ index .Params "icon-path" }}">
            {{ end }}
        </div>

        <div id="bio">
        {{ with .Site.GetPage "section" "/sidebar/bio.md" }}
            {{ .Content | safeHTML }}
        {{ end }}
        </div>

        <div class="small-box">
            {{ with .Site.GetPage "section" "/sidebar/basic-info.md" }}
                {{ .Content | safeHTML }}
            {{ end }}
        </div>

        <div class="sidebar-support">
            <a class="patreon-button" href="https://www.patreon.com/cw/Ivalace"><img class="social-icon" src="{{ "social-icons/patreon.svg" | relURL }}" alt="" width="20" height="20">Patreon!</a>
            <a class="patreon-button" href="https://mastodon.gamedev.place/@ivalace" rel="me"><img class="social-icon" src="{{ "social-icons/mastodon.svg" | relURL }}" alt="" width="20" height="20">Mastodon</a>
            <a class="patreon-button" href="https://bsky.app/profile/ivalace.bsky.social" rel="me"><img class="social-icon" src="{{ "social-icons/bluesky.svg" | relURL }}" alt="" width="20" height="20">Bluesky</a>
        </div>

    </aside>
