{{ define "main" }}
  <section class="hero-card">
    <h1 class="hero-title">Ivy Lee</h1>
    <h2 class="hero-subtitle">Narrative Gremlin for Hire</h2>
    {{ .Content }}
    <div class="buttons">
      <a href="/publications" class="button button--primary wiggle">Publications</a>
      <a href="/hoard" class="button button--primary wiggle">Samples</a>
    </div>
    <div class="cv-button-container buttons">
      <a href="/IvyLee_CV.pdf" class="button button--primary wiggle" download>Download CV</a>
    </div>
  </section>
{{ end }}

