<div class="sticky top-2">
    <!-- TOC ----------------------------------------------------------->
    {{ if gt (len .TableOfContents) 60 }}
      <section class="mb4 toc">
        <h3 class="f6 ttu tracked">On this page</h3>
        {{ .TableOfContents }}
      </section>
    {{ end }}
  
    <!-- RELATED POSTS 
    <section class="mb4">
      <h3 class="f6 ttu tracked">More to read</h3>
      <ul class="list pl0">
        {{ range first 3 (where .Site.RegularPages "Section" "inkwell") }}
          <li class="mb2">
            <a class="link dim" href="{{ .RelPermalink }}">{{ .Title }}</a>
          </li>
        {{ end }}
      </ul>
    </section>----------------------------------------------->
  
    <!-- AUTHOR CARD -------------------------------------------------->
    <section class="hero-card mb4">
      <h2 class="ma0">Ivy Lee</h2>
      <p class="lh-copy mt3">Bring me your chaos. I'll forge it into legend.</p>
      <a class="button button--primary wiggle mt3" href="/contact/">Unleash the Gremlin</a>
    </section>

    <!-- CURRENTLY -------------------------------------------------->
    <section class="mb4">
      <h3 class="f6 ttu tracked">What I'm working on</h3>
      <ul class="list pl0">
        <li class="mb2">Inkwell Archives</li>
        <li class="mb2">The City of Caidour</li>
      </ul>
    </section>

    <section class="mb4">
      <h3 class="f6 ttu tracked">What I'm reading</h3>
      <ul class="list pl0">
        <li class="mb2">YuYu Hakusho</li>
      </ul>
    </section>

    <section class="mb4">
      <h3 class="f6 ttu tracked">What I'm playing</h3>
      <ul class="list pl0">
        <li class="mb2">Oblivion (not the Remaster)</li>
        <li class="mb2">Ocarina of Time</li>
      </ul>
    </section>

    <section class="mb4">
      <h3 class="f6 ttu tracked">What I'm watching</h3>
      <ul class="list pl0">
        <li class="mb2">Yuru Camp</li>
      </ul>
    </section>

  </div>
  